<link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
    crossorigin="anonymous";
    />
<link
    href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap"
    rel="stylesheet"
    />
<link
    href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap"
  rel="stylesheet"
    />


<nav id="navbar" class="nav">
    <ul class="nav-list">
        <li>
            <a href="#welcon-section">About</a>
        </li>
        <li>
            <a href="#projects">Work</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>


<section id="welcome-section" class="welcome-section">
    <h1>Hello, I'm Tony</h1>
    <p>A developer</p>
</section>

<section id ="projects" class="projects-section">
    <h2 class="projects-section-header">Please see my project below:</h2>

    <div class="projects-grid">
        <a href="https://codepen.io/smitht06-the-bold/pen/xomJKG"
           target="_blank"
           class="project project-tile"
           >
            <img
                class="project-image"
                src="C:\Users\smith\Desktop\colglen.png"/>
            <p class="project-title">
        <span class="code">&lt;</span>
        Tribute Page
        <span class="code">&#47;&gt;</span>
      </p>
    </a>

            </p>
        </a>
    </div>
</section>
